<div class="container my-5">
    <h1 class="mb-3">Modifier mission</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateProfil()">
                <div class="mb-3">
                    <label for="type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="type" 
                    name="type" [(ngModel)]="profilDetails.type">
                </div>
                <div class="mb-3">
                    <label for="civilite" class="form-label">Civilité</label>
                    <input type="text" class="form-control" id="civilite" 
                    name="civilite" [(ngModel)]="profilDetails.civilite">
                </div>
                <div class="mb-3">
                    <label for="prenom" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="prenom" 
                    name="prenom" [(ngModel)]="profilDetails.prenom">
                </div>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" 
                    name="nom" [(ngModel)]="profilDetails.nom">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" 
                    name="email" [(ngModel)]="profilDetails.email">
                </div>
                <div class="mb-3">
                    <label for="fonction" class="form-label">Fonction</label>
                    <input type="text" class="form-control" id="fonction" 
                    name="fonction" [(ngModel)]="profilDetails.fonction">
                </div>
                <div class="mb-3">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="adresse" 
                    name="adresse" [(ngModel)]="profilDetails.adresse">
                </div>
                <div class="mb-3">
                    <label for="codePostal" class="form-label">CodePostal</label>
                    <input type="text" class="form-control" id="codePostal" 
                    name="codePostal" [(ngModel)]="profilDetails.codePostal">
                </div>
                <div class="mb-3">
                    <label for="ville" class="form-label">Ville</label>
                    <input type="text" class="form-control" id="ville" 
                    name="ville" [(ngModel)]="profilDetails.ville">
                </div>
                <div class="mb-3">
                    <label for="pays" class="form-label">Pays</label>
                    <input type="text" class="form-control" id="pays" 
                    name="pays" [(ngModel)]="profilDetails.pays">
                </div>
                <div class="mb-3">
                    <label for="telephone" class="form-label">Téléphone</label>
                    <input type="text" class="form-control" id="telephone" 
                    name="telephone" [(ngModel)]="profilDetails.telephone">
                </div>
                <button type="submit" class="btn btn-primary mr-5">Modifier</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)=deleteProfil(profilDetails.id)>Supprimer</button>
            </form>
        </div>
    </div>

</div>

